# **Assignment PW Skills - Mrinal Sahay**

**Theory Questions**

Q1. What are data structures, and why are they important ?


*   Data structures are ways to organize and store data in a computer, and they’re important because they make it easier and faster to process and retrieve information.

Q2. Explain the difference between mutable and immutable data types with examples ?

*   Mutable data types can be changed after creation (e.g., lists), while immutable ones cannot (e.g., strings)

Q3. What are the main differences between lists and tuples in Python ?

*   Lists are mutable and can be changed, while tuples are immutable and cannot be altered after creation.

Q4. Lists are mutable and can be changed, while tuples are immutable and cannot be altered after creation ?

*   Dictionaries store data as key-value pairs, where each key is unique and linked to a specific value.

Q5. Why might you use a set instead of a list in Python ?


*   Sets automatically remove duplicates and offer faster membership testing than lists.

Q6. What is a string in Python, and how is it different from a list ?

*   A string is a sequence of characters, while a list is a mutable collection of any data type; strings are immutable, lists are not.

Q7. How do tuples ensure data integrity in Python ?

*   Tuples are immutable, so their elements cannot be changed after creation, protecting the data

Q8. What is a hash table, and how does it relate to dictionaries in Python ?

*   A hash table is a data structure that maps keys to values using a hash function; Python dictionaries are built on hash tables.

Q9. Can lists contain different data types in Python ?

*   Yes, lists can hold multiple data types like integers, strings, and objects in a single list.

Q10. Explain why strings are immutable in Python ?

*   Strings are immutable to ensure their data remains consistent and safe from unintended changes, optimizing memory use

Q11.  What advantages do dictionaries offer over lists for certain tasks ?

*   Dictionaries provide fast key-based lookups, unlike lists which require index-based or sequential searching

Q12. Describe a scenario where using a tuple would be preferable over a list ?

*   Use a tuple for fixed, unchangeable data like coordinates (x, y) to prevent accidental modifications

Q13. How do sets handle duplicate values in Python ?

*   Sets automatically discard duplicates, ensuring all elements are unique

Q14. How does the “in” keyword work differently for lists and dictionaries ?

*   In lists, “in” checks for an element’s presence sequentially; in dictionaries, it checks for a key’s existence using a hash lookup.

Q15. Can you modify the elements of a tuple? Explain why or why not ?

*   No, tuple elements cannot be modified because tuples are immutable by design.

Q16. What is a nested dictionary, and give an example of its use case ?

*   LA nested dictionary is a dictionary inside another dictionary; e.g., storing student grades by subject like {“Alice”: {“Math”: 95, “Science”: 88}}.

Q17. Describe the time complexity of accessing elements in a dictionary ?

*   Accessing elements in a dictionary has an average time complexity of O(1) due to hash table efficiency.

Q18. In what situations are lists preferred over dictionaries ?

*   Lists are preferred when you need ordered data or simple iteration without key-value pairs, like a sequence of numbers.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

*   Dictionaries rely on hash-based storage, not sequence, so order isn’t guaranteed retrieval depends on keys, not position.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval ?

*   Lists retrieve data by index position (ordered), while dictionaries retrieve data by unique keys (key-based)

**Practical Questions**

Q1. Write a code to create a string with your name and print it

In [ ]:
name = input("Enter name: ")
print(name)

Enter name: Mrinal Sahay
Mrinal Sahay

Q2. Write a code to find the length of the string "Hello World"

In [ ]:
string = input("Enter the string: ")
print(len(string))

Enter the string: Hello World
11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "Python Programming"
print(f"First 3 characters of '{string}': {string[:3]}")

First 3 characters of 'Python Programming': Pyt

Q4. Write a code to convert the string "hello" to uppercase

In [ ]:
string = "hello"
print(f"'{string}' in uppercase: {string.upper()}")

'hello' in uppercase: HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(f" Original: '{string}'\n Modified: '{new_string}'")

 Original: 'I like apple'
 Modified: 'I like orange'

Q6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(f"List of numbers: {numbers}")

List of numbers: [1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers = [1, 2, 3, 4]
num_to_add = int(input("Enter number to append: "))
numbers.append(num_to_add)
print(f"Updated list: {numbers}")

Enter number to append: 10
Updated list: [1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
num_to_remove = int(input("Enter number to remove: "))
numbers.remove(num_to_remove)
print(f"Updated list: {numbers}")

Enter number to remove: 3
Updated list: [1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(f"Second element: {letters[1]}")

Second element: b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(f"Reversed list: {numbers}")

Reversed list: [50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
t = (100, 200, 300)
print(f"Tuple: {t}")

Tuple: (100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [ ]:
t = ('red', 'green', 'blue', 'yellow')
print(f"Second-to-last element: {t[-2]}")

Second-to-last element: blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
t = (10, 20, 5, 15)
print(f"Minimum value: {min(t)}")

Minimum value: 5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
t = ('dog', 'cat', 'rabbit')
print(f"Index of 'cat': {t.index('cat')}")

Index of 'cat': 1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = input("Enter three fruits: ").split(',')
fruit_tuple = tuple(fruits)
print(f"Tuple: {fruit_tuple}")
print(f"Is 'kiwi' in tuple? {'kiwi' in fruit_tuple}")

Enter three fruits: kiwi,apple,mango
Tuple: ('kiwi', 'apple', 'mango')
Is 'kiwi' in tuple? True

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
s = {'a', 'b', 'c'}
print(f"Set: {s}")

Set: {'b', 'c', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(f"Cleared set: {s}")

Cleared set: set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
s = {1, 2, 3, 4}
num_to_remove = int(input("Enter number to remove: "))
s.remove(num_to_remove)
print(f"Updated set: {s}")

Enter number to remove: 4
Updated set: {1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
union_set = s1.union(s2)
print(f"Union of {s1} and {s2}: {union_set}")

Union of {1, 2, 3} and {3, 4, 5}: {1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
intersection_set = s1.intersection(s2)
print(f"Intersection of {s1} and {s2}: {intersection_set}")

Intersection of {1, 2, 3} and {2, 3, 4}: {2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
d = {"name": input("Enter name: "),
     "age": input("Enter age: "),
     "city": input("Enter city: ")}
print(f"Dictionary: {d}")

Enter name: Mrinal
Enter age: 21
Enter city: Bilaspur
Dictionary: {'name': 'Mrinal', 'age': '21', 'city': 'Bilaspur'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(f"Updated dictionary: {d}")

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(f"Value of 'name': {d['name']}")

Value of 'name': Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(f"Updated dictionary: {d}")

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}
key_to_check = "city"
print(f"Does '{key_to_check}' exist? {key_to_check in d}")

Does 'city' exist? True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
my_list = input("Enter list items: ").split(',')
my_tuple = tuple(input("Enter tuple items: ").split(','))
my_dict = {"key1": input("Enter value1: "), "key2": input("Enter value2: ")}
print(f"List: {my_list}\nTuple: {my_tuple}\nDictionary: {my_dict}")

Enter list items: Mango
Enter tuple items: Apple
Enter value1: 2
Enter value2: 3
List: ['Mango']
Tuple: ('Apple',)
Dictionary: {'key1': '2', 'key2': '3'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(f"Sorted random numbers: {numbers}")

Sorted random numbers: [13, 60, 86, 88, 93]

Q28. Write a code to create a list with strings and print the element at the third index

In [ ]:
strings = input("Enter strings: ").split(',')
print(f"Element at third index: {strings[2]}")

Enter strings: Apple,Mango,Banana
Element at third index: Banana

Q29. Write a code to combine two dictionaries into one and print the result

In [ ]:
d1 = {"a": input("Enter value for d1 key 'a': "), "b": input("Enter value for d1 key 'b': ")}
d2 = {"c": input("Enter value for d2 key 'c': "), "d": input("Enter value for d2 key 'd': ")}
d1.update(d2)
print(f"Combined dictionary: {d1}")

Enter value for d1 key 'a': abc
Enter value for d1 key 'b': def
Enter value for d2 key 'c': fgh
Enter value for d2 key 'd': ijk
Combined dictionary: {'a': 'abc', 'b': 'def', 'c': 'fgh', 'd': 'ijk'}

Q30. Write a code to convert a list of strings into a set

In [ ]:
string_list = input("Enter strings: ").split(',')
string_set = set(string_list)
print(f"Converted to set: {string_set}")

Enter strings: Apple,Mango,Orange
Converted to set: {'Apple', 'Orange', 'Mango'}